@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

.nav-color {
    background: rgb(53,61,64);
    background: linear-gradient(94deg, rgba(53,61,64,1) 0%, rgba(14,21,29,1) 100%);
}

a {
	outline: none;
	text-decoration: none;
	position: relative;
	color: #9e9ba4;
	display: inline-block;
}

.box-height {
    height: 100vh;
}

.hero-title {
    font-family: Teko;
    font-size: 9vw;
    font-weight: 800;
    color: #C2FE0C;
    width: 100%;

}

.line-title {
    font-family: Teko;
    font-size: 12vw;
    font-weight: 800;
    color: white;
    line-height: 0.17;
}

.t-style-1 {
    font-family: Teko;
    font-size: 2vw;
    font-weight: 500;
    color: white;
}

.nav-title {
    font-family: Teko;
    font-size: 20px;
    font-weight: 500;
    color: #EAFC88;
    width: 100%; 
}

.nav-title:hover {
    padding-left: 5px;
    color: black;
    background-color: #EAFC88;
}

.nav-item {
    font-family: Teko;
    font-size: 20px;
    font-weight: 100;
    color: #EAFC88;
    width: 100%;
    white-space: nowrap;
}

.nav-item:hover {
    padding-left: 5px;
    color: black;
    background-color: #EAFC88;
}

.yellow {
    color: #EAFC88;
}

.pink {
    color: #DE5F56;
}

.purple {
    color: #A800B0;
}

.green {
    color: #C2FE0C;
}

.dsp {
    width: 10px;
}


@media (max-width:768px) { 

    .nav-title {
        font-size: 13px;
    }

    .nav-item {
        font-size: 13px;
    }

    .box-height {
        height: 70vh;
    }

    .t-style-1 {
        font-family: Teko;
        font-size: 3vw; 
        color: white;
    }

 }

 @media (max-width:576px) { 


    .box-height {
        height: 50vh;
    }

 }