@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

.nav-color {
    background: rgb(53,61,64);
    background: linear-gradient(94deg, rgba(53,61,64,1) 0%, rgba(14,21,29,1) 100%);
}

html {
    scroll-behavior: smooth;
  }

div {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

a {
	outline: none;
	text-decoration: none;
	position: relative;
	color: #9e9ba4;
	display: inline-block;
}

.box-height {
    height: 100vh;
}

.hero-title {
    font-family: Teko;
    font-size: 9vw;
    font-weight: 800;
    color: #C2FE0C;
    width: 100%;
    text-shadow: 0px 0px 0px rgba(0,0,0,1);
}

.line-title {
    font-family: Teko;
    font-size: 12vw;
    font-weight: 800;
    color: white;
    line-height: 0.17;
    letter-spacing: 40px;
}

.t-style-1 {
    font-family: Teko;
    font-size: 2.5vw;
    font-weight: 500;
    color: white;
}

.video-size {
    height: 80vh;
}

.video-title {
    top: 30px;
    left: 30px;
    font-family: Teko;
    font-size: 12vw;
    font-weight: 800;
    color: white;
    line-height: 1;
    letter-spacing: 0px;
}

.nav-title {
    font-family: Teko;
    font-size: 20px;
    font-weight: 500;
    color: #EAFC88;
    width: 100%; 
}

.nav-title:hover {
    padding-left: 5px;
    color: black;
    background-color: #EAFC88;
}

.nav-item {
    font-family: Teko;
    font-size: 20px;
    font-weight: 100;
    color: #EAFC88;
    width: 100%;
    white-space: nowrap;
}

.nav-item:hover {
    padding-left: 5px;
    color: black;
    background-color: #EAFC88;
}

.about-padding {
    padding-top: 80px;
}

.about-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Teko;
    font-size: 3vw;
    font-weight: 400;
    width: 30%;
    background: #C2FE0C;
    padding: 5px;
    color: black;
}

.about-button:hover {
    background: black;
    color: #C2FE0C;
}

.about-shadow {
    -webkit-box-shadow: inset 0px -200px 121px 200px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -200px 121px 200px rgba(0,0,0,0.75);
    box-shadow: inset 0px -200px 121px 200px rgba(0,0,0,0.75);
}

.burger {
    width: 200px;
    top: 2%;
    left: -200px;
    border: 1px solid #EAFC88;
    border-left: none;
    background: rgba(0, 0, 0, 0.3);
    transition-duration: 500ms;
}

.burger-open {
    left: 0px;
}

.burger-button {
    height: 50px; 
    width: 50px; 
    top: -1px;
    right: -50px;
    color: #EAFC88;
    box-sizing: border-box;
    border: 1px solid #EAFC88;
    background: rgba(0, 0, 0, 0.3);
}

.border-style {
    box-sizing: border-box;
    border-right: solid 2px rgba(234, 252, 136, 0.2);
}

.burger-button:hover {
    background-color: #EAFC88;
    color: black;
    cursor: pointer;
}

.burger-item {
    font-family: Teko;
    font-size: 30px;
    font-weight: 100;
    color: #EAFC88;
    width: 100%;
    white-space: nowrap;
}

.burger-item:hover {
    padding-left: 5px;
    color: black;
    background-color: #EAFC88;
}

.video-section {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
}

.yellow {
    color: #EAFC88;
}

.red {
    color: #ed321a;
}

.purple {
    color: #9B1FE9;
}

.green {
    color: #C2FE0C;
    
}

.bg-purple {
    background: #FFDE00;
}

.bg-green {
    background: #C2FE0C;
    
}

.dsp {
    width: 10px;
}

.project-title {
    font-family: Teko;
    font-size: 2.2vw;
    font-weight: 500;
    color: white;
    background-color: black; 
    white-space: nowrap
}

.project-text {
    font-family: Roboto;
    font-size: 1.5vw;
    font-weight:400;
    color: black;
    padding-right: 10px;
}

.project-opacity {
    opacity: 1;
}

.project-opacity:hover {
    opacity: 0.8;
}

.project-link {
    width: 8%;
    background: #C2FE0C;
    color: black;
    font-weight: 400;
    writing-mode: vertical-rl;
}

.project-link:hover {
    color: white;
    background: black;
}

.scroll {
    width: 100%;
    display: flex;
}

.scroll div {
    color: #000;
    font-size: 3em;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    animation: animate 40s linear infinite;
    animation-delay: -40s;
}

.scroll div span {
    -webkit-text-stroke: 2px #000;
    color: transparent;
}

.scroll div:nth-child(2) {
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@media (max-width:768px) { 

    .hero-title {
        font-size: 15vw;
        font-weight: 800;
        line-height: 0.7;
    }

    .nav-title {
        font-size: 13px;
    }

    .nav-item {
        font-size: 13px;
    }

    .box-height {
        height: 70vh;
    }

    .t-style-1 {
        font-family: Teko;
        font-size: 4.5vw; 
        color: white;
        line-height:1;
    }

    .line-title {
        font-size: 12vw;
        letter-spacing: 10px;
    }

    .project-title {
        font-size: 30px;
        font-weight: 500;
    }
    
    .project-text {
        font-size: 18px;
        font-weight:400;
    }

    .about-padding {
        padding-top: 40px;
    }

    .burger-item {
        font-size: 25px;
        font-weight: 100;
    }

    .about-shadow {
        -webkit-box-shadow: inset 0px -200px 121px 150px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -200px 121px 150px rgba(0,0,0,0.75);
        box-shadow: inset 0px -200px 121px 150px rgba(0,0,0,0.75);
    }

    .video-title {
        top: 30px;
        left: 10px;
        font-family: Teko;
        font-size: 12vw;
        font-weight: 800;
        color: white;
        line-height: 1;
        letter-spacing: 0px;
        writing-mode: vertical-rl;
    }

 }

 @media (max-width:576px) { 

    .box-height {
        height: 50vh;
    }

    .t-style-1 {
        font-family: Teko;
        font-size: 20px; 
        color: white;
        line-height: 1;
    }

    .project-title {
        font-size: 5vw;
        font-weight: 500;
    }

    .project-text {
        font-size: 3.7vw;
    }

    .about-padding {
        padding-top: 20px;
    }

    .about-button {
        font-size: 5vw;
        font-weight: 500;
        width: 50%;
        background: #C2FE0C;
        padding: 5px;
    }

    .about-shadow {
        -webkit-box-shadow: inset 0px -200px 121px 10px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -200px 121px 10px rgba(0,0,0,0.75);
        box-shadow: inset 0px -200px 121px 10px rgba(0,0,0,0.75);
    }

    .video-title {
        top: 30px;
        left: 30px;
        font-family: Teko;
        font-size: 12vw;
        font-weight: 800;
        color: white;
        line-height: 1;
        letter-spacing: 0px;
    }

    .video-title {
        top: 30px;
        left: 10px;
        font-family: Teko;
        font-size: 12vw;
        font-weight: 800;
        color: white;
        line-height: 1;
        letter-spacing: 0px;
        writing-mode: vertical-rl;
    }
 }